</main>

<footer class="site-footer">
  <p>&copy; <%= new Date().getFullYear() %> <%= site.site_title %>. Made with ❤ on Node.js.</p>
  <p>
    <a href="/">Home</a>
    <a href="/rss.xml">RSS</a>
    <a href="/sitemap.xml">Sitemap</a>
  </p>
</footer>

<script src="/js/editor.js"></script>
</body>
</html>
